body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: blueviolet;
  border-bottom: 8px solid #57c4d0;
}

html * {
  font-family: 'Orbitron', sans-serif;
  /* Apply the Orbitron font */
  font-weight: 700;
}
