.ListItem {
    color: #15588b;
    padding-bottom: 25px;
  } 
.center {
  text-align: center;
}
.button {
  background-color: #8A2BE2;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
  font-weight: 700; /* Bold font weight */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Letter spacing for a futuristic look */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}
.button:hover {
  background-color: #ff9900;
}
